extends index.pug

block navigator
  div(class="blog-masthead")
    div(class="container")
      nav(id="nav" class="blog-nav")
        a(class="blog-nav-item active" href="/") Home
        a(class="blog-nav-item" href="#") New features
        a(class="blog-nav-item" href="#") Press
        a(class="blog-nav-item" href="#") New hires
        a(class="blog-nav-item" href="/about") About

block content
  div(class="container")
    div(class="blog-header")
      f1(class="blog-title") The Blog 琦
      p(class="lead blog-description") The official example template of creating a blog with Bootstrap.

    div(class="row")
      div(class="col-sm-8 blog-main")
        div(class="blog-post")
          h2(class="blog-post-title") Sample blog post
          p(class="blog-post-meta") January 1, 2014 by #[a(href="#") Mark]
          hr()
          p() Cum sociis yyyyyyyyyyyyy.
          blockquote() #[p Curabitur blandit #[strong Nullam quis]Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit ]
