extends index.pug

block navigator
  nav(class="navbar navbar-blue navbar-fixed-top")
    div(class="container")
      div(class="navbar-header")
        a(class="new-nav-item navbar-brand" href="/") Jacky's Blog
      div(id="navbar" class="navbar-collapse collapse")
        ul(class="nav navbar-nav")
          li() #[a(class="active" href="/") Home]
          li() #[a(href="/") Page1]
          li() #[a(href="/") Page2]
          li() #[a(href="/about") About]
        ul(class="nav navbar-nav navbar-right")
          case isSignIn
            when true
              li() #[a(href="/signin") !{account}]
            when false
              li() #[a(href="/signin") Sign in]

block content
  div(class="container")
    div(class="blog-header")
      h1(class="blog-title") The Blog 琦
      p(class="lead blog-description") The official example template of creating a blog with Bootstrap.

    div(class="row")
      div(class="col-sm-8 blog-main")
        div(class="blog-post")
          h2(class="blog-post-title") Sample blog post
          p(class="blog-post-meta") January 1, 2017 by #[a(href="#") Jacky]
          hr()
          p() Cum sociis yyyyyyyyyyyyy.
          blockquote() #[p 找到多余的"&lt;body&gt;"标记 #[strong Nullam quis]Curabitur. <strong>Nullam</strong> leo. id elit ]

      div(class="col-sm-3 col-sm-offset-1 blog-sidebar")
        div(class="sidebar-module")
          h4 Archives
          ol(class="list-unstyled")
            li() #[a(href="#") March 2017]
            li() #[a(href="#") February 2017]
