extends index.pug

block navigator
  nav(class="blog-nav blog-masthead navbar navbar-expand-lg navbar-static-top" role="navigation")
    div(class="container")
      div(class="navbar-header")
        a(class="blog-nav-item navbar-brand" href="/") Jacky's Blog
      div(id="navbar" class="collapse navbar-collapse")
        a(class="blog-nav-item active" href="/") Home
        a(class="blog-nav-item" href="#") Page1
        a(class="blog-nav-item" href="#") Page2
        a(class="blog-nav-item" href="/about") About
        ul(class="nav navbar-nav ml-auto w-100 justify-content-end")
          li(class="nav-item") #[a(class="blog-nav-item" href="/signin") Sign in]

block content
  div(class="container")
    div(class="blog-header")
      h1(class="blog-title") The Blog 琦
      p(class="lead blog-description") The official example template of creating a blog with Bootstrap.

    div(class="row")
      div(class="col-sm-8 blog-main")
        div(class="blog-post")
          h2(class="blog-post-title") Sample blog post
          p(class="blog-post-meta") January 1, 2014 by #[a(href="#") Mark]
          hr()
          p() Cum sociis yyyyyyyyyyyyy.
          blockquote() #[p 找到多余的"&lt;body&gt;"标记 #[strong Nullam quis]Curabitur. <strong>Nullam</strong> leo. id elit ]

      div(class="col-sm-3 col-sm-offset-1 blog-sidebar")
        div(class="sidebar-module")
          h4 Archives
          ol(class="list-unstyled")
            li() #[a(href="#") March 2014]
            li() #[a(href="#") February 2014]
