extends index.pug

block styles
  link(rel='stylesheet', href='/stylesheets/signin.css')

block navigator
  nav(class="new-masthead navbar navbar-static-top")
    div(class="container")
      div(class="navbar-header")
        a(class="new-nav-item navbar-brand" href="/") Jacky's Blog
      div(id="navbar" class="navbar-collapse collapse")
        ul(class="nav navbar-nav")
          li() #[a(class="new-nav-item" href="/") Home]
          li() #[a(class="new-nav-item" href="/") Page1]
          li() #[a(class="new-nav-item" href="/") Page2]
          li() #[a(class="new-nav-item" href="/about") About]
        ul(class="nav navbar-nav navbar-right")
          li() #[a(class="new-nav-item active" href="/signin") Sign in]

block content
  div(id="signin" class="container")
    form(class="form-signin")
      h2(class="form-signin-heading") Please sign in
      label(class="sr-only" for="inputEmail") Email address
      input(type="email" v-model="unameVal" id="inputEmail" class="form-control" placeholder="Email address" required autofocus)
      label(class="sr-only" for="inputPassword") Password
      input(type="password" v-model="passwordVal" id="inputPassword" class="form-control" placeholder="Password")
      div(class="checkbox")
        label()
          input(type="checkbox" value="remember-me")
          |  Remember me
      button(class="btn btn-lg btn-primary btn-block" v-on:click="test" type="submit") Sign in


  script(type='text/javascript' src='./javascripts/signin.js')
